doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title YAML Multiline
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" integrity="sha256-E3NFAdoEdCZvMUGANNJ8cM/gRzIO+9Tx9QGCCzYHquw=" crossorigin="anonymous")
		style(type="text/css"): include style.css
		
		meta(name="theme-color" content="#00d1b2")
		//- favicon.io: Text: \n Font: droid sans Font Color: #FFFFFF BG Color: #00d1b2 Shape: circle
		link(rel="shortcut icon" href="/favicon.ico")
		link(rel="apple-touch-icon" sizes="512x512" href="/favicon-512.png")
		link(rel="icon" type="image/png" href="/favicon-512.png" sizes="512x512")
	body
		header.hero.is-primary.is-bold: .hero-body
			h1.title YAML Multiline
			.subtitle Find the right syntax for your YAML multiline strings
		.columns(style="margin: 2em"): include content.pug
		script
			include polyfills.js
			include script.js
		if production
			script(type="text/javascript").
				var _paq = _paq || [];
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="//analytics.linestarve.com/";
					_paq.push(['setTrackerUrl', u+'piwik.php']);
					_paq.push(['setSiteId', '4']);
					var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
					g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				})();
			noscript: p: img(src="//analytics.linestarve.com/piwik.php?idsite=4&rec=1" style="border:0;" alt="")
	
