doctype html
html
	head
		meta(charset="utf-8")
		title YAML Multiline
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" integrity="sha256-E3NFAdoEdCZvMUGANNJ8cM/gRzIO+9Tx9QGCCzYHquw=" crossorigin="anonymous")
		style(type="text/css"): include style.css
	body
		header.hero.is-primary.is-bold: .hero-body
			h1.title YAML Multiline
		.columns(style="margin: 2em"): include content.pug
		script
			include polyfills.js
			include script.js
		//- Piwik
			script(type="text/javascript").
				var _paq = _paq || [];
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="//analytics.linestarve.com/";
					_paq.push(['setTrackerUrl', u+'piwik.php']);
					_paq.push(['setSiteId', '4']);
					var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
					g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				})();
			<noscript><p><img src="//analytics.linestarve.com/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>
	
