.hero-body {margin-left: 2em; margin-right: 2em;}
.control label.radio {display:block;}
.radio {margin-left: 0.5em;}
.pre-header { font-weight: 100; font-size: large; }
a {color: #0099cf;}
a:visited {color: #cf4fcf;}
a:hover {text-decoration: underline;}
.whitespace {color: lightgray;}
p { text-indent: -2em; margin-left: 2em; }
/* TODO noto mono */
pre {background-color: white; font-size: 1em; font-family: "Consolas", "Inconsolata", "Monaco", "Ubuntu Mono", monospace;}
.pre-wrap {white-space: pre-wrap;}
@keyframes yellowfade {
	from { background: yellow; }
	to { background: transparent; }
}
/* http://ethanschoonover.com/solarized */
.syntax-keyword {color: #268bd2;}
.syntax-escape {color: #dc322f; font-weight: bold;}

.when-literal,
.when-folded,
.when-strip,
.when-clip,
.when-keep,
#indent-indication {
	display:none;
	animation-name: yellowfade;
	animation-duration: 1.5s;
}
.yaml-literal .when-literal,
.yaml-folded .when-folded,
.yaml-strip .when-strip,
.yaml-clip .when-clip,
.yaml-keep .when-keep,
.yaml-indicate-indent #indent-indication {
	display: inline;
}

.footer { font-size: 85%; padding-bottom: 3rem; }
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
html {height: 100%;}
body {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 100%;
}
header, footer {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	flex: none;
}
.columns {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
}
