form(onsubmit="updateYamlDisplay(); return false").column.is-one-half#control-form
	b Block Scalar Style (#[a(href="https://yaml.org/spec/1.2/spec.html#id2795688") ?])
	.field
		.control: label.radio
			input(type="radio" name="blockstyle" value="folded" checked)
			=' '
			| Replace newlines with spaces #[em (folded)]
		.control: label.radio
			input(type="radio" name="blockstyle" value="literal")
			=' '
			| Keep newlines #[em (literal)]
	b Block Chomping (#[a(href="https://yaml.org/spec/1.2/spec.html#id2794534") ?])
	.field: .control
		label.radio
			input(type="radio" name="chomping" value="clip" checked)
			=' '
			| Single newline at end #[em (clip)]
		label.radio
			input(type="radio" name="chomping" value="strip")
			=' '
			| No newline at end #[em (strip)]
		label.radio
			input(type="radio" name="chomping" value="keep")
			=' '
			| All newlines from end #[em (keep)]
	b Indentation
	div(style="margin-left:0.5em")
		div
			='Indent by '
			input(type="number" name="indent" min=1 max=9 step=1 value=2 style="width:4em")
			=' spaces'
		.field: .control(style="margin-top:.25em")
			label.checkbox
				input(type="checkbox" name="indicateIndent")
				=' '
				| Include indentation indicator

.column.is-one-half
	.pre-header YAML
	pre.
		#[span(style="color:#268bd2") example:] #[strong #[span.when-literal |]#[span.when-folded >]#[span.when-strip -]#[span.when-keep +]#[span#indent-indication]]#[span.whitespace \n]
		#[span.whitespace.indent ··]Several lines of text,#[span.whitespace \n]
		#[span.whitespace.indent ··]with some "quotes" of various 'types',#[span.whitespace \n]
		#[span.whitespace.indent ··]and also a blank line:#[span.whitespace \n]
		#[span.whitespace.indent ··]#[span.whitespace \n]
		#[span.whitespace.indent ··]plus another line at the end.#[span.whitespace \n]
		#[span.whitespace.indent ··]#[span.whitespace \n]
		#[span.whitespace.indent ··]#[span.whitespace \n]
	.pre-header(style="margin-top: 2em") Result
	pre.pre-wrap
		mixin w
			span.whitespace&attributes(attributes)='\\n\n'
		mixin literal-n
			span.when-literal: +w
		mixin literal-n-space
			+literal-n
			span.when-folded=' '
		| Several lines of text,#[+literal-n-space]with some "quotes" of various 'types',#[+literal-n-space]and also a blank line:#[+literal-n]#[+w]plus another line at the end.#[+w.when-keep.when-clip]#[+w.when-keep]#[+w.when-keep]

script
	include:uglify-js polyfills.js
	='\n'
	include strings-demo.js
